[*.cs]

# IDE0008: Use explicit type
csharp_style_var_when_type_is_apparent =true:warning
csharp_style_unused_value_assignment_preference=unused_local_variable:error
csharp_preserve_single_line_statements=true
csharp_style_namespace_declarations=file_scoped:warning
csharp_prefer_braces=when_multiline:warning
csharp_using_directive_placement=outside_namespace:warning
csharp_style_var_for_built_in_types=true:warning
csharp_style_var_elsewhere=true:warning

[*.{cs,vb}]
dotnet_style_prefer_is_null_check_over_reference_equality_method=true:warning
dotnet_style_namespace_match_folder=true:warning
dotnet_code_quality_unused_parameters=all:error
dotnet_diagnostic.CA1846.severity=warning
dotnet_diagnostic.CA1836.severity=warning